
<!-- <div style="text-align:center">
    <h1>
      {{ title }}!
    </h1>
    
    <input type="text" placeholder="email" name="" [(ngModel)]="data.email"> <br/><br/>
    <input type="password" placeholder="team" name="" [(ngModel)]="data.team"> <br/><br/>
    <input type="button" name="login" value="Login here!" (click)="doLogin(data)" > 

  </div> -->


  <!-- <form [formGroup]="myForm"  (ngSubmit)="doLogin()">
    <input formControlName="email" class="form-control"  placeholder="Your email" required ><br><br><br><br>
  
  
    <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').hasError('pattern')">
      Oops, please enter your email
    </div>
  
    <input formControlName="team" class="form-control" placeholder="Your team"><br><br><br><br>
  
    <div *ngIf="myForm.controls.team.hasError('pattern')">
      Oops, wrong pattern buddy!
    </div>
  
    <button type="submit" class="btn btn-primary" >
      Login
    </button>
    
  </form> -->


  <div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1"  >
            <h3>Login  Form </h3>
            <form [formGroup]="myForm"  (ngSubmit)="doLogin()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="email" placeholder="Your Email" value="" />
                    <div *ngIf="myForm.controls.email.hasError('required') && myForm.controls.email.hasError.dirty">
                      Oops, wrong pattern of email buddy!
                    </div>
                
                  </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="team" placeholder="Your team" value="" />
                    <div *ngIf="myForm.get('team').hasError('required') && myForm.get('team').dirty">
                      Oops, please enter your team!
                    </div>
                  </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                
            </form>
        </div>

