

<h1>Employee data</h1>

<ul  class="nav">
  <li class="nav-item">
  <a routerLink="/login" routerLinkActive="active" *ngIf='!show'>Login</a> | 
      </li>
      <li class="nav-item">
      <a routerLink="/signup" routerLinkActive="active"  *ngIf='!show'>Sign up</a> 
    </li>
      <!-- <a routerLink="/employeedetails" routerLinkActive="active">Employee details</a>  -->
      <li class="nav-item"  *ngIf='show'>
        <button class="btn btn-danger" (click)='logOut()'>Log Out</button>
      </li>
   
    </ul>

    <!-- <div>
      <carousel>
        <ng-container *ngFor="let item of items;">
          <ng-container *carouselItem>
            <div class="item">{{item.title}}</div>
          </ng-container>
        </ng-container>
      </carousel>
    </div> -->