

<div >
    <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="name"><br><br>
    <input type="text"  class="form-control" name="team" [(ngModel)]="team" placeholder="team"><br><br>
    <input type="number" class="form-control" name="age" [(ngModel)]="age" placeholder="age"><br><br>
    <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="email"><br><br>
    
    <input type="button" class="btn btn-primary" name="add" value="Add Employee" (click)="addEmployee({'name':name,'team':team,'age':age,'email':email})" >
</div>


